@model IEnumerable<AplikacjaHodowcy.Models.Konkurs>

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img id = "PhotoPath" src="~/images/@item.PhotoPath" alt="Image">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Desription)</p>
                            <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.Type)</small></p>
                            <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.PhotoPath)</small></p>
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Edit</a>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary">Details</a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
