@model IEnumerable<AplikacjaHodowcy.Models.Konkurs>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/mainLayout.css">
</head>
<body>
    <h1 class="header-create">
    <span>Konkurs</span>

    @if (User.Identity.IsAuthenticated)
        {
        <span class="arrow">&#10148;</span>
        <span class="add-create">
                <a asp-action="Create">Dodaj nowy</a>
        </span>    
        }
    </h1>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img id = "PhotoPath" src="~/images/@item.PhotoPath" alt="Image">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Desription)</p>
                            <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.Type)</small></p>
                            @if (item.Type == "Krajowy")
                            {
                                <p class="card-text">@Html.DisplayFor(modelItem => item.KrajoweRegulacje)</p>
                            } else
                            {
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Kraj)</p>    
                            }

                            <!-- <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary">Szczegóły</a> -->
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Edycja</a>
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Usuń</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
