@model AplikacjaHodowcy.ViewModels.MiotViewModel

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/mainLayout.css">
</head>

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć poniższy miot?</h3>
<div>
    <h4>Miot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParentsDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParentsDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LitterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LitterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linia.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index" class="custom-link">Wróć do listy</a>
    </form>
</div>
