@model AplikacjaHodowcy.ViewModels.MiotViewModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="/css/mainLayout.css">
</head>

<h1>Szczegóły</h1>

<div>
    <h4>Miot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImieMatki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImieMatki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImieOjca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImieOjca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpisRodzicow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpisRodzicow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaMiotu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaMiotu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linia.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linia.Nazwa)
        </dd>
        <div class="backContainer">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="custom-link">Edytuj</a>
            }|
            <a asp-action="Index" class="custom-link">Wróć do listy</a>
        </div>
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            <img id="PhotoPath"  class="details" src="~/images/@Model.PhotoPath" alt="Image"  />
        </dd>
    </dl>
</div>



