@model IEnumerable<AplikacjaHodowcy.Models.Linia>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/mainLayout.css">
</head>

<h1 class="header-create">
    <span>Nasze Linie</span>

    @if (User.Identity.IsAuthenticated)
    {
        <span class="arrow">&#10148;</span>
        <span class="add-create">
        <a asp-action="Create"> Dodaj linię</a>
        </span>
    }
</h1>


<div class="table-container">
<table class="table">
    <thead class="table-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a><br/>
                    }
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a><br/>
                    @if (User.Identity.IsAuthenticated)
                    {
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</html>
